{% extends 'SymfonyReactBundle::base.html.twig' %}

{% block body %}

	<h2>Home page</h2>
		<ul>
			<li><a href="/react">react</a></li>
			<li><a href="/cologne">cologne</a></li>
		</ul>
{% endblock %}
