{% extends 'SymfonyReactBundle::base.html.twig' %}

{% block content %}
    <section class="" id="portfolio">
        <div class="text-center" style="background-color:#ff883e;color:#ffffff;">
                <h2 class="section-heading">React based REST web application with Symfony <br />
                FOSRest
                </h3>
            </div>

            <div class="container">
                <div class="row">
                
                    <div id="app" style="width:100%;"></div>

                </div>
            </div>
    </section>
{% endblock %}
